<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <title>Machine Learning App</title>
  <meta name="description" content="Machine Learning App">
</head>
<body>
    <img src="http://localhost:8000/video_feed/stream001">
    <img src="http://localhost:8000/video_feed/stream002">
</body>
</html>